.button {
    background-color: blue;
    border-radius: 6px;
    color: white;
    display: inline-block;
    font-weight: bold;
    margin: 16px 0 0;
    padding: 16px 24px;
    text-decoration: none;
    transition: 150ms;

    &--disabled {
        background-color: grey;
    }

    &.bg-color--twitter-blue {
        background-color: #1da1f2;
        
        &:hover {
            background-color: lighten(#1da1f2, 10%);
        }
    }
}