.button {
    background-color: blue;
    border-radius: 6px;
    color: white;
    display: inline-block;
    margin: 16px 0 0;
    padding: 16px 24px;
    text-decoration: none;

    &--disabled {
        background-color: grey;
    }
}