.text {
    &--body-1 {
        color: rgba(0, 0, 0, 0.88);
        font-size: 16px;
        line-height: 1.5;
        margin: 0 0 12px;
    }

    &--body-2 {
        color: rgba(0, 0, 0, 0.72);
        font-size: 13px;
        line-height: 1.5;
        margin: 0 0 8px;
    }

    &--heading-1 {
        color: rgba(0, 0, 0, 0.94);
        font-size: 48px;
        line-height: 1.5;
        margin: 0 0 24px;
    }

    &--heading-2 {
        color: rgba(0, 0, 0, 0.92);
        font-size: 32px;
        line-height: 1.5;
        margin: 0 0 16px;
    }

    &--heading-3 {
        color: rgba(0, 0, 0, 0.90);
        font-size: 24px;
        line-height: 1.5;
        margin: 0 0 12px;
    }

    &--heading-4 {
        color: rgba(0, 0, 0, 0.90);
        font-size: 18px;
        line-height: 1.5;
        margin: 0 0 8px;
    }
}