.text {
    &--body-1 {
        color: #263238;
        font-size: 16px;
        line-height: 1.5;
        margin: 0 0 12px;
        opacity: 0.78;
    }

    &--body-2 {
        color: #263238;
        font-size: 13px;
        line-height: 1.5;
        margin: 0 0 8px;
        opacity: 0.74;
    }

    &--heading-1 {
        color: #263238;
        font-size: 72px;
        font-weight: bold;
        line-height: 1.5;
        margin: 0 0 24px;
        opacity: 0.94;
    }

    &--heading-2 {
        color: #263238;
        font-size: 60px;
        font-weight: bold;
        line-height: 1.5;
        margin: 0 0 16px;
        opacity: 0.9;
    }

    &--heading-3 {
        color: #263238;
        font-size: 48px;
        line-height: 1.5;
        margin: 0 0 12px;
        opacity: 0.86;
    }

    &--heading-4 {
        color: #263238;
        font-size: 32px;
        line-height: 1.5;
        margin: 0 0 8px;
        opacity: 0.82;
    }
}

strong {
    font-weight: bold;
}